.about-container {
    text-align: center;
    color: rgb(0, 0, 0);
    animation: fadeIn 2s;
    height: 45vh;
    max-width: 10000px;
    width:80%;
    margin: 0 auto;
    padding: 30px;
    background-color: rgba(181, 172, 146, 0.773); 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
  }

  p {
    font-family: 'Times New Roman', sans-serif;
    font-style: italic;
  }
  