 .verdict-container {
  max-width: 1000px;
  width: 70%;
  margin: 0 auto;
  padding: 30px;
  background-color: rgba(245, 245, 245, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  text-align: center;
}

 .response-container {
  max-width: auto;
  width: 60%;
  margin: 10px ;
  padding: 25px;
}

.submit-form{
  text-align: center;
}

.VerdictComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.VerdictComponent__header {
  font-size: auto;
  font-weight: bold;
  margin-bottom: 10px;
}

.VerdictComponent__description {
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
}

.VerdictComponent__verdict {
  font-size: 60px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.VerdictComponent__actions-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.VerdictComponent__actions-container button {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 10px;
}

.VerdictComponent__actions-container button:hover {
  background-color: #3e8e41;
}

@media (max-width: 768px) {
  .verdict-container {
      width: 90%;
      padding: 15px;
      background-position: initial;
  }

  .VerdictComponent__header {
      font-size: 18px;
  }

  .VerdictComponent__description {
      font-size: 14px;
  }

  .VerdictComponent__verdict {
      font-size: 40px;
  }

  .VerdictComponent__actions-container {
      flex-direction: column;
      align-items: center;
      padding: 15px;
  }

  .VerdictComponent__actions-container button {
      width: 100%;
      margin: 5px 0;
  }
}

@media (max-width: 480px) {
  .VerdictComponent__header {
      font-size: 16px;
  }

  .VerdictComponent__description {
      font-size: 12px;
  }

  .VerdictComponent__verdict {
      font-size: 32px;
  }
}
